.button-simulate {
    margin: 15px 0;
}

.table-40 {
    width: 40%!important;
}

.title-custom {
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 0 5px;
}

.pos-f-t {
    margin-bottom: 30px;
}

.margin-custom {
    margin: 20px 0;
}